/* 1 rem==16px */

html{
    font-size:62,5%;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* ahora 1 em son 10px */

.rojo{
    background-color: beige;
}


/* llamar al id */
#principal{
    color:red; background-color: rgba(175, 24, 24, 0);
    font-size: 30px;
}
/* llamar a class */


.subrayado{
    text-decoration: underline;
}
.fondoimagen{
    background-color: gray;
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 5px;

}
.letracolor{
    color: blue;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    text-align: center;
}
a{
    text-decoration: none;

}
.todofondo{
    background-color: turquoise;
    text-align: center;
}



/* tipografia local */
    @font-face {
        font-family: "Fuentes";
        src: url(../Fuentes/fuentes.ttf);
    }


.multimedia{
        width: 300px; /* ancho */
        height: 300px; /* alto */
        padding-top:10px;
        padding-right:5px;
        padding-bottom:10px;
        padding-left:5px;
    }
.libros1{
    margin: 10px 25px;
}
.bic-fina{
    margin: 10px 25px;
}
.avios{
    margin: 10px 25px;
}
.ab3{
    margin: 10px 25px;
}

nav li{
    display: inline;
    padding-left: 20px;
}
.Header {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.seccion {
    display: flex;
    justify-content: center;
    align-itemscenter;
  }
  
.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display:grid;
    
  }

  .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;  
    text-align: center;
  }

.contenedor-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
  
.contenedor-menu{
    width: 100%;
    height: 15%;
    background-color: chocolate;
}

.contenedor-body{
    width: 100%;
    height: 70%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.contenedor-footer{
    width: 100%h;
    height: 14%;
    background-color: darkkhaki;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto{
    background-color: blueviolet;
    width: 29%;
    height: 150px;
    margin: 10px 0;
}

.contenedor-productos{
    height: calc(100% - 100px - 30px);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    overflow-y: scroll;
}

.contacto{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 49%;
    
}